* {
    margin: 0;
    padding: 0;
}


p {
    margin: 5px;
    border: 5px solid black;
    padding: 5px;

    width: 200px;
    height: 100px;
}

article {
    /* 
    tanto el padding como el margin y el border
    pueden recibir 1, 2, 3, o 4 valores.
    */

    padding: 5px;

    padding: 10px 15px;

    padding: 10px 15px 20px 25px;

    padding-top: 20px;
    padding-right: 25px;
    padding-bottom: 30px;
    padding-left: 35px;
}