* {
    margin: 0;
    padding: 0;
}

p {
    background-color: red;
}

.azul {
    background-color: blue;
}

#Parrafo3 {
    background-color: green;
}

#Parrafo4 {
    background-color: blueviolet;
}

article {
    background-color: green;
}

.cyan {
    background-color: cyan;
    color: red;
}

article.cyan {
    background-color: burlywood;
    color: white;   
}

#Articulo3 {
    background-color: darkblue;
}

article#Articulo3 {
    background-color: cadetblue;
}

body section article.cyan#Articulo3 {
    background-color: crimson;
}

body {
    /* background-image: url("../src/img/perrito.jpg"); */
}

p {
    /* Ojo con el uso de important */
    /* background-color: red  !important; */
}

/*
    Si los selectores son igual de especificos
    se resuelve por orden en el código.

    El ultimo definido es el que gana.
*/
div {
    background-color: crimson;
}

div {
    background-color: darkgreen;
}
